.TrashButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    position: relative;
    width: 33px;
    height: 33px;
    border: 1px solid #888888;
    background: #4D4D4D;
    box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
}

.TrashButton:hover {
    background: #475CAF;
}

.Icon {
    font-size: 17px;
    color: #FFFFFF;
}